.git
.github
.env
.env.*
.phpunit.result.cache
.phpunit.cache
.vscode
.idea
node_modules
vendor
public/build
public/hot
database/database.sqlite
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
tests
docs
ROADMAP.md
